/* 
    Created on : 01.mar.2016, 14:23:33
    Author     : Øystein
*/

aside
{
    float: left;
    height: 500px;
    width: 25%;
    max-width: 230px;
    margin: 0.5%
}

section
{
    float: left;
    width: 70%;
    background-color: white; 
    height: 100%;
}

.sectionHeader{
    width: 100%;
    overflow: hidden;
}

.sectionHeader img{
    float: left;
    height: auto;
    width: 150px;
    margin: 0.5%;
}
.details{
    float: left;
    display: inline-block;
    height: auto;
    overflow: hidden;
    margin-left: 10%;
    margin-top: 5%;
}

article{
    position: relative;
    height: 300px;
    width: 70%;

    margin-left: 0;
    margin-top: 0;
}

article p{

}

.related{
    position: absolute;
    bottom:0;
    left:0;
}
