/* 
    Created on : 01.mar.2016, 14:23:33
    Author     : Øystein
*/

aside{
    
    float: left;
    height: 500px;
    width: 25%;
    max-width: 230px;
}

section{
    min-width: 100%;
   
    height: 100%;
    position: relative;
   
}

.sectionHeader{
    width: 70%;
   
    height: 100px;
    overflow: hidden;
}
.sectionHeader img{
    float: left;
    height: 100px;
    width: 100px;
}

.details{
   float: left;
   display: inline-block;
    
    height: 100px;
    width: 500px;
    overflow: hidden;
    margin-left: 10%;
}

article{
    position: relative;
    height: 300px;
    width: 70%;
   
    margin-left: 0;
    margin-top: 0;
}

article p{
    
}

.related{
   position: absolute;
   bottom:0;
   left:0;
}
