/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25.feb.2016, 14:35:45
    Author     : Andre
*/
<!-- TODO add possible sliding capability to section -->

aside {
    float: left;
    background-color: red;
    width: 24.5%;
}

section {
    float: right;
    background-color: yellow;
    width: 75%;
}

header
{
    background-color: blue;
}

article
{
    background-color: orange;
    float: left;
    width: 43%;
    margin: 3%;
}

footer
{
    background-color: magenta;
    text-align: center;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}