header
{
    background-color: blue;
}

section
{
    background-color: red;
}

article
{
    background-color: orange;
}

aside
{
    background-color: yellow;
}

footer
{
    background-color: magenta;
}