html
{
    background: url(https://c2.staticflickr.com/8/7422/12209459935_a0f969ddd6_b.jpg)repeat;
    overflow: scroll;
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body
{
    margin: 0 0 100px;
}


header
{

}

.headerimg
{
    height: auto;
    max-height: 200px;
    width: 100%;
}

section
{
    background-color: rgba(255, 255, 255, .4);
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    width: 75%;
    float: left;
    z-index: -1;
    padding: 3px;
    padding-bottom: 100px;
    margin-bottom: 100px;
}

article
{
    float: left;
    width: 43%;
    margin: 3%;
}

aside
{
    background-color: #FFC154;
    width: 23%;
    float: right;
    border-radius: 6px 6px 6px 6px;
    border-style: groove;
    border-color: #FFC454;
    border-width: 5px;
}

footer
{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: rgba(150, 150, 150, .7);
    text-align: center;
}

/*
    The navigation 
    Created on : 25.feb.2016, 13:20:52
    Author     : Øystein & Alexander
    Change log:
        -1.3.16: Changed colour and form of the navigation
        -1.3.16: Fixed overlapping navigation elements
*/

ul#navigation{
    float: left;
    position: relative;
    background: #330000;
    width: 100%;
    height: 40px;
    z-index: 1;
}

ul#navigation ul li ul {
    top: -11px;
    left: 108px; /* strong related to width:180px; from above */
}

ul#navigation li  {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    position: relative;
    float: left;
    display: inline;
    background: #732407;
    padding: 8px;
    width: 13%;
}

ul#navigation li a {
    display: inline-block;
    color: white;
    text-decoration: none;
}

ul#navigation li ul{
    display: none;
    position: absolute;
    padding-top: 10px;
}

ul#navigation li:hover ul{
    display: block;
}

ul#navigation li:hover {
    background: brown;
}

ul#navigation li:hover > ul
{
    visibility: visible;
}

ul#navigation ul, ul#navigation ul li ul {
    visibility: hidden;
}

ul#navigation li li   {
    display: block;
    background: #732407;
    box-sizing: content-box;
    width: 125px;
    padding: 11px;
    z-index: 1;
}
