/* 
The navigation 
    Created on : 01.march.2016, 13:20:52
    Author     : Kristian
    Change log:
        -1.3.16: 
*/



#meny{
    
    float: left;
    
    
    margin-bottom: 100%;
    
}

#meny li a{
    color: black;
    text-decoration: none;
    
}

#meny li{
     list-style-type: none;
}

#meny li li{
    list-style-type: circle;
}

#meny a:hover{
    background: #969694;
}

#section article{
    margin: 0 0 0 20px;
      
    padding-left: 20px;
    
}
#section h2{ 
    text-align: center;
    color: white;
          
}

.ingress{
    font-weight: bold;
    
}
.dropdown {
    position: relative; 
    
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 100%;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


