html
{
    background: url(https://c2.staticflickr.com/8/7422/12209459935_a0f969ddd6_b.jpg)repeat;
}

body{
    margin: 0 0 100px;
}

header
{
    
}

img
{
    height: auto;
    max-height: 200px;
    width: 100%;
}

section
{
    background-color: #ffffff;
    opacity: 0.4;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    width: 75%;
    float: left;
    z-index: -1;
}

article
{
    background-color: red;
    float: left;
    width: 43%;
    margin: 3%;
}

#about {
    background-color: beige;
    opacity: 1;
}



aside
{
    background-color: #FFC154;
    width: 23%;
    float: right;
    border-radius: 6px 6px 6px 6px;
    border-style: groove;
    border-color: #FFC454;
    border-width: 5px;
}

footer
{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: green;
    text-align: center;
}

/*
    The navigation 
    Created on : 25.feb.2016, 13:20:52
    Author     : Øystein & Alexander
    Change log:
        -1.3.16: Changed colour and form of the navigation
        -1.3.16: Fixed overlapping navigation elements
*/

#navigation{
    float: left;
    background: #360A09;
    width: 100%;
    height: 40px;
    z-index: 1;
}

#navigation ul{

    margin-top: 0;
    margin-left: 5%;
}

#navigation li  {
    margin-top: 2px;
    position: relative;
    display: inline-block;
    background: #732407;
    padding: 5px;
    border-radius: 2px;
}

#navigation li a {
    display: inline-block;
    color: white;
    text-decoration: none;
}

#navigation li ul{
    display: none;
    position: absolute;
    padding-top: 10px;
}

#navigation li:hover ul{
    display: block;
}

#navigation li li   {
    display: block;
    background: #834923;
    box-sizing: content-box;
    padding: 11px;
    z-index: 1;
}
