/* 
The navigation 
    Created on : 01.march.2016, 13:20:52
    Author     : Kristian
    Change log:
        -1.3.16: 
*/


meny{
    
    float: left;
    
}

meny li a{
    color: white;
    text-decoration: none;
    
}

meny li{
     list-style-type: none;
}

meny li li{
    list-style-type: circle;
    color: white;
}

meny a:hover{
    background: #969694;
}

section article{
    margin: 0 0 0 20px;
      
    padding-left: 20px;
}

h2
{
    text-align: center;
}

aside
{
    float: left;
    
}

article h3{
    text-align: center;
    color: white;
}

.ingress{
    font-weight: bold;
    
}